* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    max-width: 155px;
    margin: 0;
}

body {
    /* -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent; */
    --blue: #007bff;
    --royalBlue1: #4876FF;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --white-1: #e0e0e0;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --blue-1: #55acee;
    --font-size: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-1: 12px;
    font-family: Rubik, sans-serif;
    color: #666;
    background-color: #f8f9fa;
}

header {
    padding-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* -------------------------- Header Top ----------------------- */

.header_top {
    color: var(--light);
    background-color: var(--blue-1);
    padding-top: 10px;
    margin-bottom: 0;
}
.welcome-text p {
    font-size: var(--font-size);
}
/* Căn chỉnh phần trên bên phải */
.top__language-all {
    text-align: right;
    font-size: var(--font-size);
}
.top__language {
    display: inline-block;
    position: relative;
}
.top__language .fa-angle-down {
    position: absolute;
    right: 0;
}

/* menu top*/
.top__language-all ul {
    padding: 0;
}
.top__language-all li {
    list-style: none;
    display: inline-block;
}
.top__language-all li a {
    list-style: none;
    text-decoration: none;
    font-size: var(--font-size-1);
    font-weight: bold;
    color: var(--dark);
}
.top__language {
    margin-right: 50px;
}
.language-right-i {
    vertical-align: middle;
    padding-left: 20px;
    margin-left: 5px;
    position: relative;
    left: 85%;
    top: 25%;
}
.currency-right-i {
    vertical-align: middle;
    margin-left: 5px;

}

ul .language-menu li a {
    padding: 10px;
    margin-left: 0;
}
ul .currency-menu li a {
    padding: 5px;
    margin-left: 0;
}

/* Ban đầu, ẩn menu */
ul .dropdown-menu-currency {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;/* Ẩn các tương tác chuột khi ẩn sub-menu */
}

ul .dropdown-menu-language {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
.currency-menu li {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
.top__language:hover .dropdown-menu-language {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    line-height: 1.5;
    padding: 0 10px 0 0;
}

.top__currency:hover .dropdown-menu-currency {
    display: block;
    opacity: 2;
    transform: translateY(0);/* Dịch lên và hiển thị */
    pointer-events: auto;
    padding: 10px;
    line-height: 1.5;
    margin-left: 10px;
}
.top__currency li a:hover{
    line-height: 1.5;
    transform: translateY(0);
}
/* 

 */
/*  header_middle */
.header_middle {
    padding: 10px 0;
}
.logo img {
    max-width: 150px;
}

/*  menu */
.menu___area {
    margin-top: 30px;
}

.header_right_info {
    font-size: var(--font-size-18);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav .site-nav {
    margin-top: 30px;
}

.header_right_info .col-lg-9 {
    padding: 0;
}

.site-main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.site-main-nav li {
    margin: 0 5px;
    color: var(--dark);

}

.site-main-nav a {
    text-decoration: none;
    color: #000;
}


.site-nav a {
    text-decoration: none;
    color: #333;
    font-size: var(--font-size-1);
    /* margin-right: 20px; */
}

/* ? */
.site-main-nav li {
    position: relative;

    color: var(--dark);
}

.site-main-nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

.site-main-nav .top {
    color: var(--white);
    font-size: 9px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: var(--white);
    padding: 0 6px;
    border: 1px solid var(--dark);
    border-radius: 8px;
}

.site-main-nav i {
    margin-left: 5px;
}



/* ============================== */

.categories-list li a {
    text-decoration: none;
    color: var(--dark);
}

.categories_title {
    padding-top: 10px;
    color: var(--white);
    background-color: var(--royalBlue1);
    padding: 10px;
}

.categori_toggle {
    font-size: var(--font-size);
}

.categori_toggle i {
    padding-right: 10px;
    cursor: pointer;
}

/* Ban đầu, ẩn menu */
.category-menu {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.categories_menu_toggle ul li {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.category-toggle-wrap:hover .category-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    line-height: 1.5;
    padding-left: 20px;
    width: 89%;

}

.category-menu ul {
    list-style: none;
    padding: 0;
}

.category-menu li {
    padding: 5px 0;
}

.category-menu li:hover {
    color: var(--blue-1);
    transform: translateY(0);
}

/* Điều chỉnh phần tìm kiếm */
form .search_box {
    width: 100%;
    padding: 0;
}

.search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search_box {
    position: relative;
}

.input-group-field {
    border: 1px solid var(--gray);
    padding: 10px 40px 10px 10px;

    border-radius: 5px;
    width: 100%;
    position: relative;
}

.icon-search {
    font-size: 20px;
    color: var(--dark);
    /* border: 1px solid var(--blue); */
    background-color: var(--blue);
    padding: 13px 15px;
    border-radius:5%;
    cursor: pointer;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    right: 0px;

}

.icon-search:hover {
    color: var(--orange);
}

.input-group-field::-webkit-search-cancel-button {
    display: none;
}

.input-group-field::-webkit-search-clear-button {
    display: none;
}

.call-support {
    font-size: var(--font-size);
    color: var(--dark);
}

/* Khi hover vào .toggle-icon, tắt sự tương tác với search_container và call-support */
.toggle-icon:hover+.search_container,
.toggle-icon:hover+.call-support {
    pointer-events: none;
}

/*header_account_area */
.header_account_area {
    display: flex;
    justify-content: space-around;
}
.header_account-list i {
    display: inline-block;
    margin-top: 30px;
}

.header_account-list sub {
    display: inline-block;
    padding: 8px 6px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    background-color: var(--royalBlue1);
    color: var(--white);
}

/*  
*/

.my-account {
    /* display: none; */
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    color: #343a40;

}

.my-account ul li {
    list-style: none;
    font-size: var(--font-size);
    color: var(--dark);

}

.my-account ul li a {
    text-decoration: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
/*  */
.account-icon {
    position: relative;
    display: inline-block;
}
.login-form {
    display: none;
    position: absolute;
    top: 70%;
    left: 0;
    background: var(--light);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    z-index: 1;
    text-align: center;
}
.header_account-list:hover .login-form {
    display: block !important;
    /* opacity: 1 !important;
    transform: translateY(0) !important;
    pointer-events: auto !important;
    padding: 5px !important;
    color: #000 !important; */
}
.login-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.login-form p {
    font-size: var(--font-size-1);
    margin: 5px 0;
}

.login-form button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: var(--font-size);
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--font-size);
}

.login-form a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}
/* Tiêu đề dính */
.sticky-header {
    background-color: var(--light);
    background: transparent !important;
}

.sticky-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 253, 253, 0.9);
    z-index: -1;
}

.fixed-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 1);

}
/* --------------- */

/* link */
/* shop */
/* Ẩn sub-menu ban đầu */
ul .sub-menu {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.mega_item:hover .sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.mega_dropdown:hover {
    background-color: var(--white-1);
    padding: 5px;
}


/* blog */
/* Ẩn menu cấp 2 và cấp 3 ban đầu */
ul.sub-menu1,
ul.sub-menu2 {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(20px);
}

/* Hiển thị menu cấp 2 khi hover vào mục menu cấp 1 */
.menu-item:hover .sub-menu1 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 1;
    /* padding: 40px auto; */
}

/* Hiển thị menu cấp 3 khi hover vào mục menu cấp 2 */
.menu-item.with-submenu:hover ul.sub-menu2 {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    left: 100%;
    z-index: 1;
    top: 0%;
    ;
}

/* Tạo hiệu ứng hover*/
.menu-item:hover ul.sub-menu1 li a:hover,
.menu-item.with-submenu ul.sub-menu2 li a:hover {
    width: 50px;
    padding: 5px;
}

.menu-all a:hover {
    color: var(--blue);
}
.menu-all:hover {
    color: var(--blue);
}

.effects-text {
    transition: all 0.3s ease;
    transform: scale(1);
}

.effects-text:hover {
    transform: scale(1.1);
}


/* ============================== main ==============================*/

/* ------------slide-------------- */

#content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    /* background-color: #007bff; */
    background-image: url(/img/banner/banner.jpg);
}

.slider {
    display: flex;
    overflow: hidden;
    display: none;
}

.slide {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    transition: opacity 0.5s;
    opacity: 0;
    display: none;
}

/* transition: chuyển đổi từ một trạng thái CSS sang một trạng thái khác sẽ diễn ra*/
/* opacity: thay đổi độ mờ (độ trong suốt) của phần tử */
/* 0.5s: hiệu ứng mờ dần sẽ diễn ra trong 0.5 giây */
/* opacity: 0;   phần tử trở nên hoàn toàn trong suốt và không thể thấy được*/
.slide.active {
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    color: var(--white);
}

.left_header {
    padding-left: 20px;
}

.time_left {
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
    color: #FF3300;
    background-color: #EEEEEE;
    border: 1px hidden #666666;
}

.day_left {
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
    background-color: #FF3300;
    border: 1px solid #FFFFFF;
}

.center_header {
    padding: 10px 0px;
}

.text_center h3 {
    font-size: 15px;
    font-weight: 300;
    padding: 30px 10px;
    color: #FFFFFF;
    background-color: #0033CC;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: left;
}

.sale {
    color: #FFC125;
    font-size: 30px;
    font-weight: 900;
}

.top_right {
    font-size: 15px;
    font-style: italic;
    color: #0033CC;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.bottom_right {
    padding-top: 10px;
    padding-bottom: 0;
}

.bottom_right h3 {
    font-size: 15px;
    font-weight: 500;
    padding: 30px 30px;
    color: #FFFFFF;
    background-color: #0033CC;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}

.home {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
}

.body {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding-bottom: 20px;
}

.left_body,
.right_body {
    background-color: rgba(78, 73, 73, 0.5);
    padding: 10px;
}

.center_body {
    flex: 1;
    text-align: center;
}

.center_body h1 {
    font-size: 40px;
    color: #FFC125;
}

.freeship {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 500;
}

.day_center {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
}

.footer {
    text-align: center;
    color: #DDDDDD;
    padding: 20px;
}

.icon_footer {
    margin-top: 20px;
}

.icon_footer i {
    font-size: 15px;
    margin: 0 5px;
    cursor: pointer;
    color: #DDDDDD;
}

.icon_footer i.active {
    color: var(--purple);
}

/* .header_bg,
.body_bg,
.footer_bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
} */


/* ----------banner area start--------- */
.tow-image {
    background-color: var(--white);
    padding: 30px 0;
}

.single_banner {
    border: 1px solid var(--white);
    margin-bottom: 20px;
}

.banner_thumb {
    position: relative;
    overflow: hidden;
}

.banner_thumb img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.banner_thumb:hover img {
    transform: scale(1.1);
}

.banner_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: var(--dark);
}

.banner_content h3 {
    font-size: 13px;
    color: var(--blue-1);
    margin: 0;
    font-weight: 500;
}

.banner_content h2 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 700;
}

.banner_content h4 {
    font-size: 14px;
    margin: 0;
    color: var(--blue-1);
    font-weight: 500;
}

.buy-now,
.banner_content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--orange);
    border-radius: 5px;
    color: var(--white);
    text-decoration: none;
    margin: 10px 0;
}

.buy-now:hover,
.banner_content a:hover {
    background-color: var(--blue-1);
}


/* -----------------Categories product--------------- */
.section-title-content h2{
    font-size: 24px !important;
}
.categories-product a {
    text-decoration: none;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid var(--white-1);
}


.title__btn {
    display: flex;
    align-items: center;
    background-color: var(--blue-1);
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid var(--blue-1);
    border-radius: 10px;
}

.title__btn:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
}

.title__btn i {
    margin-left: 5px;
}
.section-title a {
    text-decoration: none;
}


/*product  */
.categories_product_inner h4 {
    margin-top: 10px;
    font-size: var(--font-size);
}

.categories_product_inner {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--white);
}

.single_categories_product {
    
    border: 1px solid var(--white-1);
    flex-basis: calc(20% - 10px);
    /* Đặt kích thước cột (20% cho 5 cột trên mỗi hàng) */
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.categories_product_content h4 a {
    color: var(--dark);
    font-weight: 700;
}

.categories_product_content p {
    color: var(--dark);
    font-weight: 300;
    font-size: var(--font-size-1);
}

/* Đảm bảo các cột trên hàng đầu không có khoảng cách bên phải */
.single_categories_product:nth-child(5n) {
    margin-right: 0;
}
/* Sử dụng :nth-child(5n+1) để chọn mỗi cột đầu tiên trên mỗi hàng và đặt margin-right cho chúng thành 0 */
.single_categories_product:nth-child(5n+1) {
    margin-right: 0;
}

/* Loại bỏ margin-right cho các cột cuối cùng trong hàng */
.single_categories_product:nth-child(5n) {
    margin-right: 0;
}

/* Tùy chỉnh phần bên trong của mỗi cột */
.categories_product_content {
    text-align: center;
   
}

.categories_product_thumb {
    text-align: center;
}

.categories_product_thumb img {
    max-width: 100%;
    height: auto;
}

/* Tùy chỉnh phần bên trong của mỗi cột */
.categories_product_content {
    text-align: center;
    transition: transform 0.3s;
}

.categories_product_thumb {
    text-align: center;
    overflow: hidden;
    /* Ẩn bất kỳ phần nào vượt ra khỏi border */
}

.categories_product_thumb img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.single_categories_product:hover .categories_product_content {
    transform: scale(1.1);
}

.single_categories_product:hover .categories_product_thumb img {
    transform: scale(1.1);
}


/* ----------------Our Product Four------------------ */
.section-title {
    margin-top: 40px;
}

.product_content {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary_img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: var(--white);
}

.primary_img:hover+.action_links {
    display: flex;
    align-items: center;
}

.label_sale {
    position: absolute;
    padding: 4px 10px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: var(--warning);
    color: #333;
    font-weight: bold;
}

.action_links {
    display: none;
    margin-top: 10px;

}

.action_links i {
    font-size: var(--font-size-16);
    margin: 0 8px;
    color: var(--dark);
}

.action_links {
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.action_links i {
    font-size: var(--font-size-16);
    margin: 5px;
    color: var(--white);
    border: 1px solid var(--blue);
    padding: 8px;
    background-color: var(--blue-1);
    border-radius: 50%;
}

.product_content:hover .action_links {
    opacity: 1;
    visibility: visible;
    display: flex;
}

/* các biểu tượng bên trong action_links */
.action_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.action_links li {
    margin: 0 5px;
}
/* Thay đổi màu sắc biểu tượng khi hover */
.action_links a:hover i {
    background-color: var(--orange);
    border: var(--orange);
}

.icon-star-yellow {
    color: var(--warning);
}

.icon-star-gray {
    color: var(--gray);
}

.product_name {
    text-align: center;
    
}

.price_box {
    text-align: center;
    color: var(--green);
    font-size: var(--font-size);
    font-weight: 600;
}

.price_box .current_price,
.price_box .old_price {
    font-weight: bold;
}

.price_box .old_price {
    text-decoration: line-through;
    color: var(--dark);
    font-size: var(--font-size-1);
}

.product_rating {
    text-align: center;
    margin: 10px 0;
}

.product_rating .spr-badge {
    font-size: var(--font-size-16);
}

.product_content h4 a {
    color: var(--dark);
    text-decoration: none;
    font-size: var(--font-size-16);
    font-weight: 600;
}

/* img */
.primary_img img {
    max-width: 200px;
    max-height: 250px;
    margin: 20px;
}

/*  */
.our-product-four {
    margin-top: 20px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.our-product-four .product_content {
    width: calc(25% - 10px);
    /* 25% cho mỗi sản phẩm, trừ đi khoảng cách giữa chúng */
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid var(--white-1);
    padding: 10px;
}

/* Đảm bảo sản phẩm trên hàng đầu không có khoảng cách bên phải */
.product_content:nth-child(4n) {
    margin-right: 0;
}
/*  */

/* tab-product */
/* .tab-milk .product_content {
    display: none;
} */
.tab-milk {
    display: none;
}

.product_content {
    transition: transform 0.3s;
}

.product_content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* sidle */
/* img */
.primary_img-edit img {
    max-width: 250px;
    max-height: 120px;
    margin: 10px;
}


/* ---------------banner-bottom------------------- */
.banner_fullwidth {
    background-image: url('/img/product/banner3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--dark);
    text-align: left;
    padding: 100px 0;
}

.banner_fullwidth h3 {
    font-size: 24px;
}

.banner_fullwidth h2 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: bold;
}

.banner_fullwidth p {
    font-size: var(--font-size-18);
    margin-bottom: 20px;
}

.banner_fullwidth a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--orange);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: var(--font-size-18);
    transition: background-color 0.3s;
}

.banner_fullwidth a:hover {
    background-color: var(--blue-1);
}


/* ------------------<!--testimonial ->------------------ */

.testimonial {
    padding: 100px 0;
    text-align: center;
    background-image: url('/img/banner/feedback.png');
}
.testimonial h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--gray-dark);
}
.testimonial h4{
    font-size: 24px;
    color: var(--blue);
}
.testimonial p{
    font-size: var(--font-size-18);
    color: var(--dark);
    margin: 0 150px;
}
.testimonial-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial-slide {
    text-align: center;
    padding: 20px;
    display: none;
}

.testimonial-slide-img {
    width: 150px;
    height: 150px;
    border: 1px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-slide.active {
    display: block;
}

.dot-navigation {
    margin-top: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    padding: 5px;
    border: 1px solid var(--white-1);
    border-radius: 50%;
    background-color: var(--white-1);
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot_active {
    background-color: var(--purple);
    
}


/* ---------------------<!--blog -->-------------------- */

.blog_section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Định dạng ảnh */
.single_blog img {
    max-width: 100%;
    height: 200px;
    margin-top: 10px;
}

.post_title a {
    color: var(--dark);
    font-weight: bold;
    text-decoration: none;
}

.post_title h4 {
    font-size: var(--font-size-16);
}

.post_desc {
    color: var(--gray);
}

.articles_date {
    color: var(--blue-1);
}

.blog_footer a {
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--blue-1);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--blue-1);
}

/* Định dạng nút "Continue Reading" khi hover */
.blog_footer a:hover {
    text-decoration: none;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
    padding: 10px 20px;
}


/* ----------------<!--banner -->------------------ */
/* Định dạng khu vực chứa nội dung */
.newsletter_area_start {
    margin-top: 40px;
    background-color: var(--white-1);
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter_container {
    margin: 10px 25% 10px 25%;
    background-color: var(--white);
    border: 1px solid var(--white-1);
    border-radius: 5px;
    overflow: hidden;
    /* Loại bỏ viền khi input và button tràn qua */
}

.section_title h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Định dạng form */
.subscribe_form form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.subscribe_form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: var(--font-size-16);

}

/* Định dạng nút Subscribe */
.subscribe_form button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: var(--font-size-16);
    margin: 0;
}

/* Định dạng icon email */
.email_icon i {
    font-size: 24px;
    color: #007bff;
    padding: 10px;
}

/* Định dạng nút Subscribe khi hover */
.subscribe_form button:hover {
    background-color: #0056b3;
}

/*  */
/* --------------<!-- Brand->----------------- */
.brand_title h2{
    margin-top: 20px;
}
/* Chỉnh kích thước hình ảnh */
.brand-area .single-brand img {
    max-width: 150px;
    height: 100px;
}

/* Khoảng cách giữa các hình ảnh */
.brand-area .single-brand {
    margin-top: 40px;
    margin-bottom: 40px;
}
.brand-area {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

/* ==========================================footer=================================================== */
/* --------------------------------------END content_for_index----------------------  */
/* Phần chung cho footer */
.footer_top {
    background-color: var(--blue-1);
    color: var(--white);
    padding: 50px 0;
}

.footer_logo img {
    max-width: 150px;
}

.f_address p {
    margin: 5px 0;
}

.footer_social ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer_social li {
    margin-right: 10px;
}

/* Phần thông tin và liên kết */
.widget_menu h3 {
    color: var(--dark);
    font-size: var(--font-size-18);
    font-weight: bold;
    margin-bottom: 15px;
}
/* Map */
.widget_map{
    margin-top: 40px;
}
.footer_menu ul {
    list-style: none;
    padding: 0;
}

.footer_menu li {
    margin-bottom: 5px;
}

.footer_menu a {
    text-decoration: none;
    color: var(--white);
}

/* Phần giờ làm việc */
.contact_us h3 {
    color: var(--dark);
    font-size: var(--font-size-18);
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_social i {
    border: 1px solid var(--gray);
    border-radius: 49%;
    color: var(--white);
    padding: 10px;
    background-color: var(--blue);

}

hr {
    padding-bottom: 0;
}

.contact_us h4 a {
    color: var(--dark);
    font-size: var(--font-size-16);
    text-decoration: none;
}

.footer_bottom {
    background-color: var(--blue-1);
    color: var(--light);
    padding: 20px 0;
    margin-top: 0;
}

/* Phần copyright */
.copyright_area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright_area p {
    margin-right: 20px;
}

.copyright_area a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}

.footer_payment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_payment img {
    max-width: 300px;
    top: 0;
}

/*  */
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#scrollToTopButton:hover {
    background-color: var(--orange);
}


/*========== ============Responsive======================= */
/* Kích thước mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .fixed-sticky-header{
        display: none;
    }
    .container{
        /* margin-left: 10px;
        margin-right: 10px; */
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
   .header_top{
    display: none;
   }

   .top_links, .header_wishlist{
    display: none;
   }
   .p-static{
    display: none;
   }
   .col-lg-3{
    width: 100%;
   }
   .flex-row-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   }
   .header_account_area{
    justify-content: flex-end;
   }
   .header_bar{
    display: block;
    padding-top: 12%;
    bottom: 0;
    margin-left: 20px;

   }

   /* header_bottom */
   .search_container, .call-support{
    display: none;
   }
   .category-toggle-wrap:hover .category-menu{
        width: 95%;
   }

   /* ===============main============== */
   .single_categories_product {
    border: 1px solid var(--white-1);
    flex-basis: calc(100% - 10px);
    /* Đặt kích thước cột (50% cho 2 cột trên mỗi hàng) */
    margin-bottom: 0px;
    margin-right: 0px;
    /* display: flex;
    flex-flow: row wrap; */
    justify-content: space-between;
    }

    .our-product-four .product_content {
        width: calc(100% - 10px);
    }

    .blog_section-row {
        text-align: center;
    }
    .blog_section-none, .blog_section-none-1, .brand-none{
        display: none;
    }
    .newsletter_container {
        margin: 0;
    }
    .testimonial p{
        margin: 0 50px;
    }


    .footer-flex {
        flex-direction: column;
    }
   .copyright-flex{
    display: flex;
    flex-direction: column;
   }
   hr{
    display: none;
   }

   
   .copyright_area, .footer_payment {
    display: flex;
    justify-content: center;
    align-items: center;
    }

}

/* Kích thước tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .fixed-sticky-header{
        display: none;
    }
    .container{
        /* margin-left: 10px;
        margin-right: 10px; */
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .container-fluid{
        display:block !important;
    }
   .header_top{
    display: none;
   }

   .top_links, .header_wishlist{
    display: none;
   }
   .p-static{
    display: none;
   }
   .col-lg-3{
    width: 100%;
   }
   .flex-row-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   }
   .header_account_area{
    justify-content: flex-end;
   }
   .header_bar{
    display: block;
    padding-top: 7%;
    bottom: 0;
    margin-left: 20px;

   }

   /* header_bottom */
   .search_container, .call-support{
    display: none;
   }
   .category-toggle-wrap:hover .category-menu{
        width: 95%;
   }

   /* ===============main============== */
   .single_categories_product {
    border: 1px solid var(--white-1);
    flex-basis: calc(50% - 10px);
    /* Đặt kích thước cột (50% cho 2 cột trên mỗi hàng) */
    margin-bottom: 0px;
    margin-right: 0px;
    /* display: flex;
    flex-flow: row wrap; */
    justify-content: space-between;
    }

    .our-product-four .product_content {
        width: calc(50% - 10px);
    }

    .blog_section-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
         /* width: calc(50% - 10px); */
    }
    .blog_section-none, .brand-none{
        display: none;
    }
    .widget_map{
        max-width: 100%;
    }
    
    .footer_payment{
        margin-right: 80px;
    }
    

}

@media (min-width: 992px){
    .header_bar{
        display: none;
    }
    
}
