* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    max-width: 155px;
    margin: 0;
}

body {
    --blue: #007bff;
    --royalBlue1: #4876FF;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --white-1: #e0e0e0;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --blue-1: #55acee;
   
    --font-size: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-1: 12px;
    
    font-family: Rubik, sans-serif;
    color: #666;
    
}


/* <!-- ====================header=================== --> */
header {
    padding-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
/* -------------------------- Header Top ----------------------- */

.header_top {
    color: var(--light);
    background-color: var(--blue-1);
    padding-top: 10px;
    margin-bottom: 0;
}
.welcome-text p {
    font-size: var(--font-size);
}
/* Căn chỉnh phần trên bên phải */
.top__language-all {
    text-align: right;
    font-size: var(--font-size);
}
.top__language {
    display: inline-block;
    position: relative;
}
.top__language .fa-angle-down {
    position: absolute;
    right: 0;
}

/* menu top*/
.top__language-all ul {
    padding: 0;
}
.top__language-all li {
    list-style: none;
    display: inline-block;
}
.top__language-all li a {
    list-style: none;
    text-decoration: none;
    font-size: var(--font-size-1);
    font-weight: bold;
    color: var(--dark);
}
.top__language {
    margin-right: 50px;
}
.language-right-i {
    vertical-align: middle;
    padding-left: 20px;
    margin-left: 5px;
    position: relative;
    left: 85%;
    top: 25%;
}
.currency-right-i {
    vertical-align: middle;
    margin-left: 5px;

}

ul .language-menu li a {
    padding: 10px;
    margin-left: 0;
}
ul .currency-menu li a {
    padding: 5px;
    margin-left: 0;
}

/* Ban đầu, ẩn menu */
ul .dropdown-menu-currency {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;/* Ẩn các tương tác chuột khi ẩn sub-menu */
}

ul .dropdown-menu-language {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
.currency-menu li {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
.top__language:hover .dropdown-menu-language {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    line-height: 1.5;
    padding: 0 10px 0 0;
}

.top__currency:hover .dropdown-menu-currency {
    display: block;
    opacity: 2;
    transform: translateY(0);/* Dịch lên và hiển thị */
    pointer-events: auto;
    padding: 10px;
    line-height: 1.5;
    margin-left: 10px;
}
.top__currency li a:hover{
    line-height: 1.5;
    transform: translateY(0);
}
/* 

 */
/*  header_middle */
.header_middle {
    padding: 10px 0;
}
.logo img {
    max-width: 150px;
}

/*  menu */
.menu___area {
    margin-top: 30px;
}

.header_right_info {
    font-size: var(--font-size-18);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav .site-nav {
    margin-top: 30px;
}

.header_right_info .col-lg-9 {
    padding: 0;
}

.site-main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.site-main-nav li {
    margin: 0 5px;
    color: var(--dark);

}

.site-main-nav a {
    text-decoration: none;
    color: #000;
}


.site-nav a {
    text-decoration: none;
    color: #333;
    font-size: var(--font-size-1);
    /* margin-right: 20px; */
}

/* ? */
.site-main-nav li {
    position: relative;

    color: var(--dark);
}

.site-main-nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

.site-main-nav .top {
    color: var(--white);
    font-size: 9px;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: var(--white);
    padding: 0 6px;
    border: 1px solid var(--dark);
    border-radius: 8px;
}

.site-main-nav i {
    margin-left: 5px;
}



/* ============================== */

.categories-list li a {
    text-decoration: none;
    color: var(--dark);
}

.categories_title {
    padding-top: 10px;
    color: var(--white);
    background-color: var(--royalBlue1);
    padding: 10px;
}

.categori_toggle {
    font-size: var(--font-size);
}

.categori_toggle i {
    padding-right: 10px;
    cursor: pointer;
}

/* Ban đầu, ẩn menu */
.category-menu {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.categories_menu_toggle ul li {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.category-toggle-wrap:hover .category-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    line-height: 1.5;
    padding-left: 20px;
    width: 89%;

}

.category-menu ul {
    list-style: none;
    padding: 0;
}

.category-menu li {
    padding: 5px 0;
}

.category-menu li:hover {
    color: var(--blue-1);
    transform: translateY(0);
}

/* Điều chỉnh phần tìm kiếm */
form .search_box {
    width: 100%;
    padding: 0;
}

.search_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search_box {
    position: relative;
}

.input-group-field {
    border: 1px solid var(--gray);
    padding: 10px 40px 10px 10px;

    border-radius: 5px;
    width: 100%;
    position: relative;
}

.icon-search {
    font-size: 20px;
    color: var(--dark);
    /* border: 1px solid var(--blue); */
    background-color: var(--blue);
    padding: 13px 15px;
    border-radius:5%;
    cursor: pointer;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    right: 0px;

}

.icon-search:hover {
    color: var(--orange);
}

.input-group-field::-webkit-search-cancel-button {
    display: none;
}

.input-group-field::-webkit-search-clear-button {
    display: none;
}

.call-support {
    font-size: var(--font-size);
    color: var(--dark);
}

/* Khi hover vào .toggle-icon, tắt sự tương tác với search_container và call-support */
.toggle-icon:hover+.search_container,
.toggle-icon:hover+.call-support {
    pointer-events: none;
}

/*header_account_area */
.header_account_area {
    display: flex;
    justify-content: space-around;
}
.header_account-list i {
    display: inline-block;
    margin-top: 30px;
}

.header_account-list sub {
    display: inline-block;
    padding: 8px 6px;
    border-radius: 50%;
    border: 1px solid var(--dark);
    background-color: var(--royalBlue1);
    color: var(--white);
}

/*  
*/

.my-account {
    /* display: none; */
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    color: #343a40;

}

.my-account ul li {
    list-style: none;
    font-size: var(--font-size);
    color: var(--dark);

}

.my-account ul li a {
    text-decoration: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}
/*  */
.account-icon {
    position: relative;
    display: inline-block;
}
.login-form {
    display: none;
    position: absolute;
    top: 70%;
    left: 0;
    background: var(--light);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    z-index: 1;
    text-align: center;
}
.header_account-list:hover .login-form {
    display: block !important;
    /* opacity: 1 !important;
    transform: translateY(0) !important;
    pointer-events: auto !important;
    padding: 5px !important;
    color: #000 !important; */
}
.login-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.login-form p {
    font-size: var(--font-size-1);
    margin: 5px 0;
}

.login-form button {
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
    font-size: var(--font-size);
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: var(--font-size);
}

.login-form a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.login-form a:hover {
    text-decoration: underline;
}
/* Tiêu đề dính */
.sticky-header {
    background-color: var(--light);
    background: transparent !important;
}

.sticky-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 253, 253, 0.9);
    z-index: -1;
}

.fixed-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 1);

}
/* --------------- */

/* link */
/* shop */
/* Ẩn sub-menu ban đầu */
ul .sub-menu {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.mega_item:hover .sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.mega_dropdown:hover {
    background-color: var(--white-1);
    padding: 5px;
}


/* blog */
/* Ẩn menu cấp 2 và cấp 3 ban đầu */
ul.sub-menu1,
ul.sub-menu2 {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(20px);
}

/* Hiển thị menu cấp 2 khi hover vào mục menu cấp 1 */
.menu-item:hover .sub-menu1 {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    z-index: 1;
    /* padding: 40px auto; */
}

/* Hiển thị menu cấp 3 khi hover vào mục menu cấp 2 */
.menu-item.with-submenu:hover ul.sub-menu2 {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    left: 100%;
    z-index: 1;
    top: 0%;
    ;
}

/* Tạo hiệu ứng hover*/
.menu-item:hover ul.sub-menu1 li a:hover,
.menu-item.with-submenu ul.sub-menu2 li a:hover {
    width: 50px;
    padding: 5px;
}

.menu-all a:hover {
    color: var(--blue);
}
.menu-all:hover {
    color: var(--blue);
}

.effects-text {
    transition: all 0.3s ease;
    transform: scale(1);
}

.effects-text:hover {
    transform: scale(1.1);
}



/* =============================main============================== */
.imgbanner{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
    background-image: url(img/anh4.jpg);
}

.shop_toolbar_wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--white-1);
    padding: 10px; 
    background-color: var(--light); 
}

.main-toolbar-sorter {
    display: flex;
    align-items: center;
}

.toolbar-sorter {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}
.toolbar-sorter label {
    color: var(--gray);
}
.page_amount {
    display: flex;
    align-items: center;
}
.sort-by{
    padding: 10px;
    margin-top: 5px;
}
/* Thêm màu cho nội dung phần "Showing x - y of z result" */
.page_amount .show-items {
    color:var(--gray);
}


/* ==== */
/* -----------------Categories product area start----------------- */
.categories-product a {
    text-decoration: none;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid var(--white-1);
}


.title__btn {
    display: flex;
    align-items: center;
    background-color: var(--blue-1);
    padding: 10px 20px;
    color:var(--white);
    text-decoration: none;
    border: 1px solid var(--blue-1);
    border-radius: 10px;
}

.title__btn:hover {
    background-color: var(--green);
    border: 1px solid var(--green);
}

.title__btn i {
    margin-left: 5px;
    /* Khoảng cách giữa nút và biểu tượng mũi tên */
}


/*product  */
.categories_product_inner h4 {
    margin-top: 10px;
    font-size: var(--font-size);
}

.categories_product_inner {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single_categories_product {
    border: 1px solid var(--white-1);
    flex-basis: calc(20% - 10px);
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.categories_product_content h4 a {
    color: var(--dark);
    font-weight: 700;
}

.categories_product_content p {
    color: var(--dark);
    font-weight: 300;
    font-size: var(--font-size-1);
}

/* Đảm bảo các cột trên hàng đầu không có khoảng cách bên phải */
.single_categories_product:nth-child(5n) {
    margin-right: 0;
}

/* Tùy chỉnh phần bên trong của mỗi cột */
.categories_product_content {
    text-align: center;
}

.categories_product_thumb {
    text-align: center;
}

.categories_product_thumb img {
    max-width: 100%;
    height: auto;
}

/* Tùy chỉnh phần bên trong của mỗi cột */
.categories_product_content {
    text-align: center;
    transition: transform 0.3s;
    /* Thêm hiệu ứng transform */
}

.categories_product_thumb {
    text-align: center;
    overflow: hidden;
    /* Ẩn bất kỳ phần nào vượt ra khỏi border */
}

.categories_product_thumb img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    /* Thêm hiệu ứng transform */
}

.single_categories_product:hover .categories_product_content {
    transform: scale(1.1);
    /* Khi hover, phóng to nội dung cột */
}

.single_categories_product:hover .categories_product_thumb img {
    transform: scale(1.1);
    /* Khi hover, phóng to ảnh */
}


/* ----------------Our Product Four------------------ */
.section-title {
    margin-top: 40px;
}
.product_content {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary_img {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.primary_img:hover+.action_links {
    display: flex;
    align-items: center;
}

.label_sale {
    position: absolute;
    padding: 4px 10px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: var(--warning);
    color: #333;
    font-weight: bold;
}

.action_links {
    display: none;
    margin-top: 10px;

}

.action_links i {
    font-size: var(--font-size-16);
    margin: 0 8px;
    color: var(--dark);
}

.action_links {
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.action_links i {
    font-size: var(--font-size-16);
    margin: 5px;
    color: var(--white);
    border: 1px solid var(--blue);
    padding: 8px;
    background-color: var(--blue-1);
    border-radius: 50%;
}


/* Hiển thị action_links khi hover vào .product_content */
.product_content:hover .action_links {
    opacity: 1;
    visibility: visible;
    display: flex;
}

/* Tùy chỉnh các biểu tượng bên trong action_links */
.action_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.action_links li {
    margin: 0 5px;
}

.icon-star-yellow {
    color: var(--warning);
}

.icon-star-gray {
    color: var(--gray);
}

.product_name {
    text-align: center;
}

.price_box {
    text-align: center;
    color: var(--green);
    font-size: var(--font-size);
    font-weight: 600;
}

.price_box .current_price,
.price_box .old_price {
    font-weight: bold;
}

.price_box .old_price {
    text-decoration: line-through;
    color: var(--dark);
    font-size: var(--font-size-1);
}

.product_rating {
    text-align: center;
    margin: 10px 0;
}

.product_rating .spr-badge {
    font-size: var(--font-size-16);
}

.product_content h4 a {
    color: var(--dark);
    text-decoration: none;
    font-size: var(--font-size-16);
    font-weight: 600;
}

/* img */
.primary_img img {
    max-width: 200px;
    max-height: 250px;
    margin: 20px;
}

/*  */
.our-product-four {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.our-product-four .product_content {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid var(--white-1);
    padding: 10px;
}

/* Đảm bảo sản phẩm trên hàng đầu không có khoảng cách bên phải */
.product_content:nth-child(4n) {
    margin-right: 0;
}


/* tab-product */
/* .tab-milk .product_content {
    display: none;
} */
.tab-milk {
    display: none;
}

.product_content {
    transition: transform 0.3s;
  }
  
  .product_content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/* ---------------------------------pagination---------------------------------- */
/* Tùy chỉnh phân trang */
.pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid #ddd; 
    padding-top: 10px; 
    border-radius: 5px;
    margin-bottom: 40px;
}

.pagination ul {
    list-style: none;
    padding-top: 10px; 
    margin-left: 30px;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #007BFF;
    color: #fff;
}

.pagination li.disabled a {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #ddd;
    color: #666;
}

  
/* ==========================================footer=================================================== */
/* Phần chung cho footer */
.footer_top {
    background-color: var(--blue-1);
    color: var(--white);
    padding: 50px 0;
}

.footer_logo img {
    max-width: 150px;
}

.f_address p {
    margin: 5px 0;
}

.footer_social ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.footer_social li {
    margin-right: 10px;
}

/* Phần thông tin và liên kết */
.widget_menu h3 {
    color: var(--dark);
    font-size: var(--font-size-18);
    font-weight: bold;
    margin-bottom: 15px;
}
/* Map */
.widget_map{
    margin-top: 40px;
}
.footer_menu ul {
    list-style: none;
    padding: 0;
}

.footer_menu li {
    margin-bottom: 5px;
}

.footer_menu a {
    text-decoration: none;
    color: var(--white);
}

/* Phần giờ làm việc */
.contact_us h3 {
    color: var(--dark);
    font-size: var(--font-size-18);
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_social i {
    border: 1px solid var(--gray);
    border-radius: 49%;
    color: var(--white);
    padding: 10px;
    background-color: var(--blue);

}

hr {
    padding-bottom: 0;
}

.contact_us h4 a {
    color: var(--dark);
    font-size: var(--font-size-16);
    text-decoration: none;
}

.footer_bottom {
    background-color: var(--blue-1);
    color: var(--light);
    padding: 20px 0;
    margin-top: 0;
}

/* Phần copyright */
.copyright_area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright_area p {
    margin-right: 20px;
}

.copyright_area a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
}

.footer_payment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer_payment img {
    max-width: 300px;
    top: 0;
}

/*  */
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#scrollToTopButton:hover {
    background-color: var(--orange);
}





/* ================Responsive ===============*/
/* Kích thước mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .fixed-sticky-header{
        display: none;
    }
    .container{
        /* margin-left: 10px;
        margin-right: 10px; */
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    /* main */
    .shop_toolbar_wrapper {
        display: flex;
        flex-direction: column;
    }
    .page_amount, .shop_toolbar_btn{
        max-width: 100%;

    }

    .our-product-four .product_content {
        width: calc(100% - 10px);
    }

    /*  */
    
    .footer-flex {
        flex-direction: column;
    }
   .copyright-flex{
    display: flex;
    flex-direction: column;
   }
   hr{
    display: none;
   }

   
   .copyright_area, .footer_payment {
    display: flex;
    justify-content: center;
    align-items: center;
    }

}

/* Kích thước tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .fixed-sticky-header{
        display: none;
    }
    .container{
        /* margin-left: 10px;
        margin-right: 10px; */
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .our-product-four .product_content {
        width: calc(50% - 10px);
    }

    /*  */
    .widget_map{
        max-width: 100%;
    }
    
    .footer_payment{
        margin-right: 80px;
    }
    
}

@media (min-width: 992px){
    .header_bar{
        display: none;
    }
}